#home-wall {
    background-image: url("/assets/img/walls/agra_fort_india-normal.jpg");
    background-position: center center;
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100%;
    position: relative;
}

.master-header {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: relative;
}

.master-header > .row {
    max-width: 1600px;
}

#master-logo {
    padding: 18px 0;
    max-width: 240px;
}

@media only screen {
    #master-logo {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 40.063em) {
    #master-logo {
        margin-right: 0;
    }
}

.panel.contact-us {
    margin-top: 24px;
    padding: 0 1.25rem 0 0;

    border: none;
    background: none;
    color: #FFFFFF;
}

.panel.contact-us a {
    color: #FFFFFF;
    margin-right: 1rem;
}

/* May move it to foundation-ext.css */

.top-bar-panel {
    position: relative;
    padding-bottom: 2.8125rem;
}

.primary-navigation {
    position: absolute;
    left: 0.9375rem;
    right: 0.9375rem;
}

.top-bar-section ul li > a {
    font-size: 1rem;
}


@media only screen and (min-width: 40.063em) {

    .top-bar-panel {
        padding-bottom: 0;
    }

    .primary-navigation {
        position: relative;
        left: auto;
        right: auto;
    }

    .top-bar {
        background: none;
    }

    .top-bar-section ul {
        background: none;
    }

    .top-bar-section ul li {
        background: none;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        background: none;
    }

    .top-bar-section ul li:hover:not(.has-form) > a {
        background: none;
    }

    .top-bar-section li:not(.has-form) a:not(.button):hover {
        background: none;
        color: gold;
    }

}


.tagline-panel {
    padding: 24px 0;
}

.tagline-feature i {
    font-size: 1.5rem;
    vertical-align: middle;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
}

.tagline-feature span {
    margin-left: 12px;
}

@media only screen and (min-width: 40.063em) {
    .tagline-panel {
        padding: 0;
        position: absolute;
        left: 0.9375rem;
        right: 0.9375rem;
        top: 50%;
        z-index: 0;
    }

    .tagline {
        font-weight: 600;
        font-size: 3rem;
        text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    }
}

